<div class="discussion-container">
  <div class="tabs-padding">
  <studer-discussion-tabs
    [activeTab]="selectedCategory"
    [showCreate]="showCreateForm"
    (tabSelected)="onCategorySelected($event)"
    (createToggled)="toggleCreate()"
    (filtersChanged)="onFiltersChanged($event)">
  </studer-discussion-tabs>
  </div>
  <main class="discussion-content">
    @if (showCreateForm) {
      <div appAutoAnimate>
        <app-discussion-create-form
          (save)="onCreateDiscussion($event)"
          (cancel)="showCreateForm = false">
        </app-discussion-create-form>
      </div>
    } @else if (loading) {
      <studer-loader></studer-loader>
    } @else {
      <div appAutoAnimate>
        <app-discussion-list [discussions]="discussions"></app-discussion-list>
      </div>
    }
  </main>
</div>
