:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.discussion-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.discussion-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tabs-padding{
  padding-bottom: 1rem;
}
