<div class="discussion-container">
  <studer-discussion-sidebar
    (categorySelected)="onCategorySelected($event)">
  </studer-discussion-sidebar>

  <main class="discussion-content">
    @if (selectedCategory === 'explore') {
      <studer-explore-filters (filtersChanged)="onFiltersChanged($event)"></studer-explore-filters>
    }

    @if (showCreateForm) {
      <app-discussion-create-form
        (save)="onCreateDiscussion($event)"
        (cancel)="showCreateForm = false">
      </app-discussion-create-form>
    }

    @if (!showCreateForm && selectedCategory !== 'create') {
      @if (loading) {
        <div class="loading-spinner">
          <studer-loader></studer-loader>
        </div>
      } @else {
        <app-discussion-list [discussions]="discussions"></app-discussion-list>
      }
    }
  </main>
</div>
