<div class="gallery-creator">
  <div class="add-row">
    <label class="upload-btn" [class.uploading]="uploading">
      @if (uploading) {
        <i class="pi pi-spin pi-spinner"></i>
        <span>{{ 'common.uploading' | translate }}</span>
      } @else {
        <i class="pi pi-plus"></i>
        <span>{{ 'gallery.add_image' | translate }}</span>
      }
      <input type="file" accept="image/*" (change)="onFileSelected($event)" [disabled]="uploading" hidden />
    </label>

    <div class="layout-pills">
      <button class="layout-pill" [class.active]="data.layout === 'grid'" (click)="setLayout('grid')">
        <i class="fa-solid fa-table-cells"></i> Grid
      </button>
      <button class="layout-pill" [class.active]="data.layout === 'carousel'" (click)="setLayout('carousel')">
        <i class="fa-solid fa-sliders"></i> Carousel
      </button>
      <button class="layout-pill" [class.active]="data.layout === 'masonry'" (click)="setLayout('masonry')">
        <i class="fa-solid fa-layer-group"></i> Collage
      </button>
    </div>
  </div>

  <div class="image-list">
    @for (image of data.images; track $index; let i = $index) {
      <div class="image-card">
        <div class="image-card__thumb">
          @if (image.url) {
            <img [src]="image.url" alt="" />
          } @else {
            <div class="no-preview"><i class="fa-solid fa-image"></i></div>
          }
        </div>
        <button class="remove-btn" (click)="removeImage(i)"><i class="pi pi-times"></i></button>
      </div>
    }
  </div>
</div>
