<span class="studer-logo" [ngStyle]="{'font-size': size + 'rem'}" (click)="onClick()">
  <span class="letter c1" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">S</span>
  <span class="letter c2" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">t</span>
  <span class="letter c3" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">u</span>
  <span class="letter c4" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">d</span>
  <span class="letter c5" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">e</span>
  <span class="letter c6" [class.bounce]="animating && animation==='bounce'" [class.spin]="animating && animation==='spin'" [class.pulse]="animating && animation==='pulse'">r</span>
</span>

