:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--header-height) + var(--footer-height-collapsed) + 0.1rem));
}

.course-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  min-width: 0;
}

.course-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem;
  min-width: 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
