<div class="discussion-list-container">
  @if (discussions.length > 0) {
    @for (discussion of discussions; track trackByDiscussionId) {
      <app-discussion-item
        [discussion]="discussion"
        (favouriteToggled)="onFavouriteToggled($event)">
      </app-discussion-item>
    }
  } @else {
    <div class="empty-state">
      <i class="fa-solid fa-comments"></i>
      <h3>{{ 'discussion.list.no_discussions_title' | translate }}</h3>
      <p>{{ 'discussion.list.no_discussions_subtitle' | translate }}</p>
    </div>
  }
</div>
