:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Clave: El componente ocupa el 100% de su padre */
}

.discussion-list-container {
  flex-grow: 1; /* Clave: El contenedor interno crece para llenar el host */
  display: flex;
  flex-direction: column;
}

.empty-state {
  flex-grow: 1; /* Clave: El estado vacío llena el espacio restante */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: transparent;
  border-radius: 8px;

}

.empty-state i {
  font-size: 3rem;
  color: var(--color-text-secu);
  margin-bottom: 1.5rem;
}

.empty-state h3 {
  font-size: 1.25rem;
  margin: 0 0 0.5rem 0;
  color: var(--color-text-prim);
}

.empty-state p {
  color: var(--color-text-secu);
  margin: 0;
}
