@if (block) {
  <header class="block-header">
    <div class="block-header__left">
      @if (block.isFork) {
        <svg class="block-header__icon" [title]="'blocks.header.fork_title' | translate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"><path fill-rule="evenodd" d="M5 3.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm0 2.122a2.25 2.25 0 1 0-1.5 0v.878A2.25 2.25 0 0 0 5.75 8.5h1.5v2.128a2.251 2.251 0 1 0 1.5 0V8.5h1.5a2.25 2.25 0 0 0 2.25-2.25v-.878a2.25 2.25 0 1 0-1.5 0v.878a.75.75 0 0 1-.75.75h-4.5A.75.75 0 0 1 5 6.25v-.878ZM10.75 12a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0Z" clip-rule="evenodd" /></svg>
      }
      <studer-rich-text [text]="'&' + block.slug"></studer-rich-text>
    </div>
    <div class="block-header__right">
      <div class="block-header__meta">
        <span class="block-header__difficulty block-header__difficulty--{{ block.difficulty | lowercase }}">{{ block.difficulty }}</span>
      </div>
      @if (isAuthenticated) {
        <button class="like-btn" [class.liked]="likedByCurrentUser" (click)="toggleLike()" [disabled]="liking">
          <i class="pi" [class.pi-heart-fill]="likedByCurrentUser" [class.pi-heart]="!likedByCurrentUser"></i>
          <span>{{ blockLikeCount }}</span>
        </button>
      }
    </div>
  </header>
}
