:host {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--sidebar-bg);
  overflow: hidden;
  height: 100%;
  box-shadow: 0 1px 3px var(--box-shadow-color);
}

.tab-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
}
