<div class="text-viewer">
  @for (element of data.elements; track $index) {
    @switch (element.type) {
      @case ('paragraph') {
        <p class="text-element paragraph">
          @for (run of element.runs; track $index) {
            <span
              [ngClass]="getRunClasses(run)"
              [ngStyle]="getRunStyles(run)">
              @if (run.link) {
                <a [href]="run.link" target="_blank" rel="noopener noreferrer">{{ run.text }}</a>
              } @else {
                {{ run.text }}
              }
            </span>
          }
        </p>
      }
    }
  }
</div>
